@import "tailwindcss";

.page-container {
  @apply flex flex-col justify-start items-stretch gap-2 p-4 max-w-md w-full mx-auto;
}

.action-button {
  @apply bg-blue-600 text-white p-2 font-semibold rounded-lg flex items-center justify-center gap-2 h-9
  transition-all duration-200 ease-in-out hover:bg-blue-800 active:bg-blue-800;
}

.load-button {
  @apply bg-black text-white p-2 font-semibold rounded-lg flex items-center justify-center gap-2 h-9;
}

.text-title {
  @apply text-2xl font-bold text-gray-900;
}

.text-title-2 {
  @apply text-lg font-bold text-gray-900;
}

.text-title-item {
  @apply text-base font-semibold text-gray-900;
}

.text-description {
  @apply text-sm text-gray-600;
}

.text-help {
  @apply text-xs text-gray-600;
}

.modal-fullscreen {
  @apply fixed bg-black/10 flex items-center justify-center min-h-screen min-w-screen flex-col;
}

.modal-fullscreen-content {
  @apply rounded-xl bg-gray-100 flex flex-col items-center justify-center p-4 w-2/3 gap-3 max-w-sm;
}

.loading-rect {
  @apply rounded-lg bg-gray-200 animate-pulse transition active:bg-gray-100;
}

.video-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 9 / 16;
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
  border: 0;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 6;
  --_g: no-repeat radial-gradient(circle closest-side,#ffffff 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}

.loader-big {
  width: 100px;
  aspect-ratio: 6;
  --_g: no-repeat radial-gradient(circle closest-side, #2563EB 90%, #0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}

@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}